In [1]:
# Dropena and fillna functions
import pandas as pd

In [2]:
dataset = pd.read_csv("health_rankings.csv")
dataset.head(3)

,State,County,State code,County code,Year span,Measure name,Measure id,Numerator,Denominator,Raw value,Confidence Interval Lower Bound,Confidence Interval Upper Bound,Data Release Year,fipscode
0,US,United States,0.0,0.0,2003-2005,Violent crime rate,43.0,1328750.667,274877117.0,483.398066,NaN,NaN,NaN,0.0
1,US,United States,0.0,0.0,2004-2006,Violent crime rate,43.0,1340928.667,277612778.5,483.021233,NaN,NaN,NaN,0.0
2,US,United States,0.0,0.0,2005-2007,Violent crime rate,43.0,1355853.167,280407694.7,483.529230,NaN,NaN,2010.0,0.0

In [3]:
dataset.isnull().sum()

State                                   6
County                                  6
State code                              4
County code                             4
Year span                             474
Measure name                          474
Measure id                            474
Numerator                           89788
Denominator                        119085
Raw value                           13908
Confidence Interval Lower Bound    114452
Confidence Interval Upper Bound    114452
Data Release Year                  153735
fipscode                             9581
dtype: int64

In [4]:
dataset.shape

(303864, 14)

In [6]:
(dataset.isnull().sum()/dataset.shape[0])*100

State                               0.001975
County                              0.001975
State code                          0.001316
County code                         0.001316
Year span                           0.155991
Measure name                        0.155991
Measure id                          0.155991
Numerator                          29.548745
Denominator                        39.190230
Raw value                           4.577048
Confidence Interval Lower Bound    37.665535
Confidence Interval Upper Bound    37.665535
Data Release Year                  50.593358
fipscode                            3.153055
dtype: float64

In [7]:
dataset.dropna()

,State,County,State code,County code,Year span,Measure name,Measure id,Numerator,Denominator,Raw value,Confidence Interval Lower Bound,Confidence Interval Upper Bound,Data Release Year,fipscode
156696,AL,Alabama,1.0,0.0,2009,Uninsured,85.0,623621.00,3.947226e+06,0.158,0.153234,0.162766,2012.0,1000.0
156697,AL,Alabama,1.0,0.0,2010,Uninsured,85.0,681437.00,4.021188e+06,0.169,0.164248,0.173752,2013.0,1000.0
156702,AL,Autauga County,1.0,1.0,2009,Uninsured,85.0,6059.00,4.383800e+04,0.138,0.123702,0.152298,2012.0,1001.0
156703,AL,Autauga County,1.0,1.0,2010,Uninsured,85.0,6467.00,4.754700e+04,0.136,0.119370,0.152630,2013.0,1001.0
156708,AL,Baldwin County,1.0,3.0,2009,Uninsured,85.0,23971.00,1.459410e+05,0.164,0.149702,0.178298,2012.0,1003.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236736,WY,Washakie County,56.0,43.0,2009,Adult obesity,11.0,339.33,1.385000e+03,0.250,0.210000,0.280000,2012.0,56043.0
236737,WY,Washakie County,56.0,43.0,2010,Adult obesity,11.0,1495.00,6.203320e+03,0.241,0.201000,0.283000,2014.0,56043.0
236742,WY,Weston County,56.0,45.0,2008,Adult obesity,11.0,455.30,1.570000e+03,0.290,0.230000,0.350000,2011.0,56045.0
236743,WY,Weston County,56.0,45.0,2009,Adult obesity,11.0,439.78,1.527000e+03,0.290,0.250000,0.330000,2012.0,56045.0
236744,WY,Weston County,56.0,45.0,2010,Adult obesity,11.0,1716.00,5.482428e+03,0.313,0.268000,0.360000,2014.0,56045.0

In [9]:
# axis 0 row and 1 column
# All row having null are dropped
dataset.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[303864 rows x 0 columns]

In [10]:
dataset.dropna(how="all")

,State,County,State code,County code,Year span,Measure name,Measure id,Numerator,Denominator,Raw value,Confidence Interval Lower Bound,Confidence Interval Upper Bound,Data Release Year,fipscode
0,US,United States,0.0,0.0,2003-2005,Violent crime rate,43.0,1328750.667,274877117.0,483.398066,NaN,NaN,NaN,0.0
1,US,United States,0.0,0.0,2004-2006,Violent crime rate,43.0,1340928.667,277612778.5,483.021233,NaN,NaN,NaN,0.0
2,US,United States,0.0,0.0,2005-2007,Violent crime rate,43.0,1355853.167,280407694.7,483.529230,NaN,NaN,2010.0,0.0
3,US,United States,0.0,0.0,2006-2008,Violent crime rate,43.0,1366928.333,287614567.7,475.263942,NaN,NaN,2011.0,0.0
4,US,United States,0.0,0.0,2007-2009,Violent crime rate,43.0,1339439.333,292576281.2,457.808585,NaN,NaN,2012.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303859,WY,Weston County,56.0,45.0,2007,Daily fine particulate matter,125.0,NaN,NaN,9.370000,NaN,NaN,NaN,56045.0
303860,WY,Weston County,56.0,45.0,2008,Daily fine particulate matter,125.0,NaN,NaN,7.450000,NaN,NaN,2013.0,56045.0
303861,WY,Weston County,56.0,45.0,2009,Daily fine particulate matter,125.0,NaN,NaN,12.770000,NaN,NaN,NaN,56045.0
303862,WY,Weston County,56.0,45.0,2010,Daily fine particulate matter,125.0,NaN,NaN,12.110000,NaN,NaN,NaN,56045.0
303863,WY,Weston County,56.0,45.0,2011,Daily fine particulate matter,125.0,NaN,NaN,10.710000,NaN,NaN,2014.0,56045.0

In [11]:
dataset.dropna(how="any")

,State,County,State code,County code,Year span,Measure name,Measure id,Numerator,Denominator,Raw value,Confidence Interval Lower Bound,Confidence Interval Upper Bound,Data Release Year,fipscode
156696,AL,Alabama,1.0,0.0,2009,Uninsured,85.0,623621.00,3.947226e+06,0.158,0.153234,0.162766,2012.0,1000.0
156697,AL,Alabama,1.0,0.0,2010,Uninsured,85.0,681437.00,4.021188e+06,0.169,0.164248,0.173752,2013.0,1000.0
156702,AL,Autauga County,1.0,1.0,2009,Uninsured,85.0,6059.00,4.383800e+04,0.138,0.123702,0.152298,2012.0,1001.0
156703,AL,Autauga County,1.0,1.0,2010,Uninsured,85.0,6467.00,4.754700e+04,0.136,0.119370,0.152630,2013.0,1001.0
156708,AL,Baldwin County,1.0,3.0,2009,Uninsured,85.0,23971.00,1.459410e+05,0.164,0.149702,0.178298,2012.0,1003.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236736,WY,Washakie County,56.0,43.0,2009,Adult obesity,11.0,339.33,1.385000e+03,0.250,0.210000,0.280000,2012.0,56043.0
236737,WY,Washakie County,56.0,43.0,2010,Adult obesity,11.0,1495.00,6.203320e+03,0.241,0.201000,0.283000,2014.0,56043.0
236742,WY,Weston County,56.0,45.0,2008,Adult obesity,11.0,455.30,1.570000e+03,0.290,0.230000,0.350000,2011.0,56045.0
236743,WY,Weston County,56.0,45.0,2009,Adult obesity,11.0,439.78,1.527000e+03,0.290,0.250000,0.330000,2012.0,56045.0
236744,WY,Weston County,56.0,45.0,2010,Adult obesity,11.0,1716.00,5.482428e+03,0.313,0.268000,0.360000,2014.0,56045.0

In [13]:
dataset.dropna(subset=["Numerator"])

,State,County,State code,County code,Year span,Measure name,Measure id,Numerator,Denominator,Raw value,Confidence Interval Lower Bound,Confidence Interval Upper Bound,Data Release Year,fipscode
0,US,United States,0.0,0.0,2003-2005,Violent crime rate,43.0,1328750.667,274877117.0,483.398066,NaN,NaN,NaN,0.0
1,US,United States,0.0,0.0,2004-2006,Violent crime rate,43.0,1340928.667,277612778.5,483.021233,NaN,NaN,NaN,0.0
2,US,United States,0.0,0.0,2005-2007,Violent crime rate,43.0,1355853.167,280407694.7,483.529230,NaN,NaN,2010.0,0.0
3,US,United States,0.0,0.0,2006-2008,Violent crime rate,43.0,1366928.333,287614567.7,475.263942,NaN,NaN,2011.0,0.0
4,US,United States,0.0,0.0,2007-2009,Violent crime rate,43.0,1339439.333,292576281.2,457.808585,NaN,NaN,2012.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275131,WY,Weston County,56.0,45.0,2004-2006,Premature Death,1.0,99.000,NaN,8066.228000,6555.832,9820.343,2010.0,56045.0
275132,WY,Weston County,56.0,45.0,2005-2007,Premature Death,1.0,101.000,NaN,10095.111000,6908.978,13281.244,2011.0,56045.0
275133,WY,Weston County,56.0,45.0,2006-2008,Premature Death,1.0,92.000,NaN,8798.561000,7092.882,10790.654,2012.0,56045.0
275134,WY,Weston County,56.0,45.0,2007-2009,Premature Death,1.0,82.000,NaN,6750.100000,5368.555,8378.654,NaN,56045.0
275135,WY,Weston County,56.0,45.0,2008-2010,Premature Death,1.0,79.000,NaN,5632.780000,4459.525,7020.125,2013.0,56045.0

In [17]:
dataset.dropna(inplace=True)
dataset

,State,County,State code,County code,Year span,Measure name,Measure id,Numerator,Denominator,Raw value,Confidence Interval Lower Bound,Confidence Interval Upper Bound,Data Release Year,fipscode
156696,AL,Alabama,1.0,0.0,2009,Uninsured,85.0,623621.00,3.947226e+06,0.158,0.153234,0.162766,2012.0,1000.0
156697,AL,Alabama,1.0,0.0,2010,Uninsured,85.0,681437.00,4.021188e+06,0.169,0.164248,0.173752,2013.0,1000.0
156702,AL,Autauga County,1.0,1.0,2009,Uninsured,85.0,6059.00,4.383800e+04,0.138,0.123702,0.152298,2012.0,1001.0
156703,AL,Autauga County,1.0,1.0,2010,Uninsured,85.0,6467.00,4.754700e+04,0.136,0.119370,0.152630,2013.0,1001.0
156708,AL,Baldwin County,1.0,3.0,2009,Uninsured,85.0,23971.00,1.459410e+05,0.164,0.149702,0.178298,2012.0,1003.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236736,WY,Washakie County,56.0,43.0,2009,Adult obesity,11.0,339.33,1.385000e+03,0.250,0.210000,0.280000,2012.0,56043.0
236737,WY,Washakie County,56.0,43.0,2010,Adult obesity,11.0,1495.00,6.203320e+03,0.241,0.201000,0.283000,2014.0,56043.0
236742,WY,Weston County,56.0,45.0,2008,Adult obesity,11.0,455.30,1.570000e+03,0.290,0.230000,0.350000,2011.0,56045.0
236743,WY,Weston County,56.0,45.0,2009,Adult obesity,11.0,439.78,1.527000e+03,0.290,0.250000,0.330000,2012.0,56045.0
236744,WY,Weston County,56.0,45.0,2010,Adult obesity,11.0,1716.00,5.482428e+03,0.313,0.268000,0.360000,2014.0,56045.0